/* Note that the display property for HTML5 elements is already accounted for in normalize.min.css, so that rule is omitted here. */
@font-face {
    font-family: 'Franklin Gothic';
    src: url('font/franklin-gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Victory Comics Condensed';
    src: url('font/victory-comics-condensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Victory Comics Semi';
    src: url('font/victory-comics-semi.ttf') format('truetype');
}

html {
    background-color: #fcf7fe;
    box-sizing: border-box;
    color: #1a1919;
    font-family: 'Franklin Gothic', sans-serif;
}

*,
*::before,
*::after {
    border: 0;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    font: 2.7rem 'Victory Comics Condensed', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Victory Comics Semi', sans-serif;
}

a,
a:visited {
    color: #b74900;
}

button {
    background-color: #ff7904;
    color: #1a1919;
    font-family: 'Victory Comics Semi', sans-serif;
}

img {
    max-width: 1600px;
    width: 100%;
}

header {
    padding: 4% 4% 0;
    text-align: center;
}

#logo {
    max-width: 400px;
}

main {
    padding: 0 4%;
}
